body {
  text-align: center;
  align-items: center;
  /* background-color: #1fc8db;*/
    /* background-image: linear-gradient(#aaa 10%, #bbb 10%, #ccc 10%, #ddd 75%);  */
  background-color: #282c34;

  }
